  <h1>{{title}}</h1>

<form [formGroup]="datosUsuario">
    <h3>Datos de usuario:</h3>
    <div id="salirModificar" hidden="true">
      <button mat-stroked-button color="accent" (click)="salirModificar()">Salir modo modificar</button><br><br>
    </div>
    <mat-form-field>
      <input matInput id="nombre" type="text" placeholder="Nombre" required formControlName="nombre">
        <mat-error>
          El nombre debe tener mínimo 3 caracteres
        </mat-error>
    </mat-form-field>
    <br><br>
    <mat-form-field>
      <input matInput type="text" placeholder="Apellidos" required formControlName="apellidos">
      <mat-error>
        Los apellidos deben tener mínimo 3 caracteres
      </mat-error>
    </mat-form-field>
    <br><br>
    <mat-form-field>
      <mat-label>Edad</mat-label>
      <input matInput type="number" required value=0 formControlName="edad">
      <mat-error>
        La edad permitida está entre 0 y 125 años
      </mat-error>
    </mat-form-field>
    <br><br>
    <mat-form-field>
      <input matInput type="text" placeholder="DNI" required formControlName="dni">
      <mat-error>
        Revise los datos introducidos, el DNI no tiene el formato correcto
      </mat-error>
    </mat-form-field>
    <br><br>
    <mat-form-field>
      <mat-label>Cumpleaños</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="dd/mm/aaaa" required formControlName="cumple">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br><br>
    <mat-form-field>
      <input matInput type="text" placeholder="Color Favorito" required formControlName="color">
      <mat-error>
        El color debe tener mínimo 3 caracteres
      </mat-error>
    </mat-form-field>
    <br><br>
      <mat-radio-group formControlName="sexo" required>
        <mat-label>Sexo</mat-label>
        <mat-radio-button color="primary" *ngFor="let sexo of tipoSexo" [value]="sexo">
          {{sexo}}
        </mat-radio-button>
      </mat-radio-group>
    <br><br>
    <button mat-raised-button color="primary" (click)="registrar()" [disabled]="!datosUsuario.valid">Registrar</button>
</form>

<div class="list">
  <br><br>
  <h3>Registro de personas</h3>
  <mat-list>
    <mat-list-item *ngFor="let item of lista; let indice=index">
      <mat-icon matListIcon>account_circle</mat-icon>
      <h2 matLine>{{item.getNombre()}} {{item.getApellidos()}} {{item.getEdad()}} {{item.getDNI()}}
        {{item.getCumpleFromDate()}} {{item.getColorFavorito()}} {{item.getSexo()}}
      </h2>
      <button mat-raised-button color="primary" (click)="modificar(indice, item)">Modificar</button>
      <button mat-raised-button color="warn" (click)="eliminar(indice)">Eliminar</button>
    </mat-list-item>
  </mat-list>
</div>
